<div class="container">
    <h2>
        Заявка на підбір туру
    </h2>
    <p>
        Заповніть форму і ми зв'яжемось з вами!
    </p>
    <form action="/booking" method="POST" class="form-horizontal" role="form">
        <div class="form-group">
            <label for="name" class="col-sm-3 control-label">Введіть ваше ім'я</label>
            <div class="col-md-5">
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-user"></span>
                    </div>
                    <input type="text" name="username" id="name" class="form-control">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="tel" class="col-sm-3 control-label">Введіть ваш номер телефону</label>
            <div class="col-md-5">
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-phone"></span>
                    </div>
                    <input type="tel" name="phone" id="tel" class="form-control">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-3 control-label">Введіть ваш email</label>
            <div class="col-md-5">
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </div>
                    <input type="email" name="email" id="email" class="form-control">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success col-md-offset-5">Надіслати</button>
    </form>
</div>