html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.inform {
    float: left;
    margin: 0 1.5%;
    width: 82%;
}

.nav-zay {
    word-spacing: 4px !important;
}

#nav {
    float: center;
    color: rgb(47, 47, 71);
    text-align: center;
    font-size: larger;
    word-spacing: 25px;
    font-weight: bolder;
}

#formoftour {
    border: 2px solid black;
}

#request {
    color: rgb(46, 109, 228);
    font-size: large;
    font-weight: 500;
    text-align: center;
}

#dopinfo {
    font-size: smaller;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

#form {
    margin: 0px 10px 5px;
}

footer p {
    background: #b4b6b5;
    clear: both;
    text-align: center;
    height: 34px;
    padding-top: 13px;
    color: white;
    width: 100%;
}

.meteoprog-informer {
    float: right;
}

.mainheader {
    width: 100%;
    height: 150px;
    text-align: center;
    background: no-repeat center/100% url(/images/header/header.jpg) yellow;
    display: inline-block;
    vertical-align: middle;
    padding-top: 65px;
}

section p {
    text-indent: 16px;
}

button {
    margin-left: 30%;
    width: 40%;
    text-align: center;
}

.count-list {
    padding: 10px 150px 40px;
}

.sign {
    float: left;
    text-align: center;
}