<div class="container">
    <form action="/test" method="POST" class="form-horizontal" role="form">
        <div class="form-group">
            <label for="pole1" class="col-sm-3 control-label">Введіть першу цифру</label>
            <div class="col-md-5">
                <div class="input-group">
                    <input autocomplete="off" type="number" name="pole1" id="pole1" class="form-control">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="pole2" class="col-sm-3 control-label">Введіть ваш номер телефону</label>
            <div class="col-md-5">
                <div class="input-group">
                    <input autocomplete="off" type="number" name="pole2" id="pole2" class="form-control">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success col-md-offset-5">Надіслати</button>
    </form>
</div>